{{ if seo-title }}<meta property="og:title" content="{{ seo-title }}">{{ /if }}
{{ if seo-description }}<meta property="og:description" content="{{ seo-description }}">{{ /if }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ permalink }}">
{{ if seo-image }}{{ glide:seo-image width="1200" absolute="true" }}<meta property="og:image" content="{{ url }}">{{ /glide:seo-image }}{{ /if }}
{{ if seo-description}}<meta name="description" content="{{ seo-description }}">{{ /if }}
<title>{{ if seo-title }}{{ seo-title }}{{ else }}{{ title }} | {{ config:app:name }}{{ /if }}</title>
